

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  
  text-align: center;/* Larger font size for main title */
}

h2 {
  font-size: 1.8rem; /* Medium font size for section titles */
}

a {
  transition: color 0.3s; /* Smooth transition for link color */
}

a:hover {
  color: #ff6347; /* Change link color on hover */
}


